<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CMIOExtension</key>
	<dict>
		<key>CMIOExtensionMachServiceName</key>
		<string>com.dannyfrancken.sceneit.cameraextension</string>
		<key>CMIOExtensionPrincipalClass</key>
		<string>SceneItCMIOProvider</string>
		<key>CMIOExtensionProviderName</key>
		<string>Ritually Virtual Camera Provider</string>
		<key>CMIOExtensionVersion</key>
		<string>2.0</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.cmio-dal-assistant.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>SceneItCMIOProvider</string>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
